body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: url(/images/noise.gif);
  background-position: 50% 50%;
  background-size: cover;
  opacity: 0.08;
  pointer-events: none;
}

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

.page-title {
  margin: 0; /* Ensures no extra space around the title */
  flex-grow: 0; /* Prevents the title from growing */
}

.page-title a {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
  font-size: 1.5em;
  padding-left: 1em;
  color: #000;
  text-transform: uppercase;
}

.main-nav {
  text-align: right; /* Aligns the navigation items to the right */
}

.main-nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end; /* Aligns the navigation items to the right */
}

.main-nav-link {
  text-decoration: none;
  color: #000;
  margin: 10px;
  font-size: 18px;
  transition: color 0.3s;
  padding: 1em;
}

.main-nav-link:hover,
.main-nav-link:focus {
  text-decoration: underline;
}

.menu-toggle {
  display: none; /* Hide by default, show in responsive mode */
  cursor: pointer;
}

/* MAIN SECTION */

/* MAIN INTRO SECTION */
.main-head {
  height: 80vh;
  align-items: center;
  bottom: 5%;
}

.main-intro {
  font-family: "Cormorant Garamond", serif;
  font-size: 3.6em;
  text-align: center;
  text-transform: uppercase;
  padding: 6em 0 0 1em;
}

/* MAIN INTERESTS SECTION */
.main-interests {
  height: 5vh;
  display: flex;
  justify-content: space-between;
}

.interests-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.4em;
  text-align: center;
  text-transform: uppercase;
  padding: 0em 0 0 1em;
  font-weight: 100;
}

.interests-text {
  font-family: "Cormorant Garamond", serif;
  font-size: 1.4em;
  padding: 0em 1em 1em 0em;
}

/* MAIN ABOUT SECTION */
.main-about {
  display: flex;
  align-items: center;
  text-align: left;
  justify-content: center;
  padding: 6em 10%;
  max-width: 100%;
  margin: auto;
  box-sizing: border-box;
}

.about-img {
  flex: 0 1 40%; /* Assigns width to the image container */
  padding-right: 2em; /* Adds padding between the image and text */
}

.about-img img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.about-content {
  flex: 1 1 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-title {
  font-family: "Cormorant Garamond", serif;
  font-size: 2.4em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.about-bio {
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
  font-size: 1.2em;
}

/* PORTFOLIO SECTION STYLING */

.portfolio-section {
  height: 30vh;
  padding: 10em;
}

.portfolio-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
}

.portfolio-item {
  width: 300px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: 2px #000 solid;
  font-family: Arial, Helvetica, sans-serif;
}

.portfolio-item a {
  text-decoration: none;
  color: #000;
}

.portfolio-overlay:hover {
  text-decoration: underline;
}

/* EDUCATION SECTION Styling */

.main-edu {
  height: 40vh;
  padding: 10em;
}

.edu-section {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
}

.gird-item {
  padding: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

/* EXPERIENCE SECTION Styling */

.main-exp {
  height: 40vh;
  padding: 10em;
}

.exp-section {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
}

.ex.gird-item {
  padding: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
